footer {
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: rgba(246, 152, 179, 0.5)
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo {
    height: 160px;
}

.footer-ul-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category {
    width: 200px;
    display: grid;

    list-style: none;
}

.category-title {
    grid-column: span 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(15, 15, 15);
    font-size: 30px;
    margin-bottom: 20px;
}

.category .footer-link {
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(96, 88, 88, 0.75);
}

.footer-link:hover {
    color: rgb(11, 11, 11);
}

.footer-social-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-link {
    color: rgba(68, 63, 63, 0.75);
    margin-left: 20px;
    text-transform: capitalize;
}

.social-link:hover {
    color: rgb(11, 11, 11);
}


.social-link:nth-child(1) {
    margin-left: 0;
}

.footer-credit {

    width: 100%;
    padding: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: rgb(241, 220, 220);
    background: rgba(0, 0, 0, 0.2);
}